# Soccer Prediction

An endeavor to predict soccer scores

In [1]:
import pandas as pd
import json
import matplotlib

## Playing with Events

In [2]:
df = pd.read_json('data/events_World_Cup.json', orient='records')
df.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],122671,"[{'y': 50, 'x': 50}, {'y': 53, 'x': 35}]",2057954,Pass,16521,1H,1.656214,85,258612104
1,8,High pass,[{'id': 1801}],139393,"[{'y': 53, 'x': 35}, {'y': 19, 'x': 75}]",2057954,Pass,16521,1H,4.487814,83,258612106
2,1,Air duel,"[{'id': 703}, {'id': 1801}]",103668,"[{'y': 81, 'x': 25}, {'y': 83, 'x': 37}]",2057954,Duel,14358,1H,5.937411,10,258612077
3,1,Air duel,"[{'id': 701}, {'id': 1802}]",122940,"[{'y': 19, 'x': 75}, {'y': 17, 'x': 63}]",2057954,Duel,16521,1H,6.406961,10,258612112
4,8,Simple pass,[{'id': 1801}],122847,"[{'y': 17, 'x': 63}, {'y': 15, 'x': 71}]",2057954,Pass,16521,1H,8.562167,85,258612110

In [3]:
df.describe()

,eventId,playerId,matchId,teamId,eventSec,id
count,101759.000000,101759.000000,1.017590e+05,101759.000000,101759.000000,1.017590e+05
mean,5.749772,86281.211922,2.057986e+06,10375.224589,1388.637801,2.611401e+08
std,3.115089,100669.835706,1.866148e+01,5170.481351,850.980508,4.062610e+06
min,1.000000,12.000000,2.057954e+06,1598.000000,0.122553,2.586121e+08
25%,1.000000,10131.000000,2.057970e+06,6380.000000,643.469486,2.593947e+08
50%,8.000000,51217.000000,2.057986e+06,9905.000000,1356.739817,2.603052e+08
75%,8.000000,116166.000000,2.058003e+06,15594.000000,2115.778717,2.610949e+08
max,10.000000,552555.000000,2.058017e+06,19314.000000,3258.366837,2.802175e+08

In [4]:
result = df.groupby('eventName')['id'].count().reset_index(name='count')
result['count'] = result['count'] / result['count'].max() * 100
result['count'] = result['count'] / result['count'].sum()

In [5]:
result.plot.bar(x='eventName', y='count')

In [6]:
df.groupby('matchId').apply(lambda x: x.sort_values(by='eventSec'))

                eventId             subEventName  \
matchId
2057954 0             8              Simple pass
        788           8              Simple pass
        1             8                High pass
        2             1                 Air duel
        3             1                 Air duel
...                 ...                      ...
2058017 101754        8              Simple pass
        101755        7                    Touch
        101756        8                    Cross
        101757        4  Goalkeeper leaving line
        101758        8                   Launch

                                                    tags  playerId  \
matchId
2057954 0                                 [{'id': 1801}]    122671
        788                               [{'id': 1801}]    101707
        1                                 [{'id': 1801}]    139393
        2                    [{'id': 703}, {'id': 1801}]    103668
        3                    [{'id': 701}, {'id': 1802}]    122940
...                                                  ...       ...
2058017 101754                            [{'id': 1801}]      3476
        101755                                        []     14812
        101756  [{'id': 401}, {'id': 801}, {'id': 1802}]     14812
        101757                                        []     25381
        101758                            [{'id': 1802}]     25381

                                                positions  matchId  \
matchId
2057954 0        [{'y': 50, 'x': 50}, {'y': 53, 'x': 35}]  2057954
        788      [{'y': 50, 'x': 52}, {'y': 37, 'x': 34}]  2057954
        1        [{'y': 53, 'x': 35}, {'y': 19, 'x': 75}]  2057954
        2        [{'y': 81, 'x': 25}, {'y': 83, 'x': 37}]  2057954
        3        [{'y': 19, 'x': 75}, {'y': 17, 'x': 63}]  2057954
...                                                   ...      ...
2058017 101754    [{'y': 20, 'x': 46}, {'y': 6, 'x': 64}]  2058017
        101755     [{'y': 6, 'x': 64}, {'y': 2, 'x': 82}]  2058017
        101756  [{'y': 2, 'x': 82}, {'y': 100, 'x': 100}]  2058017
        101757     [{'y': 0, 'x': 0}, {'y': 98, 'x': 18}]  2058017
        101758     [{'y': 43, 'x': 14}, {'y': 0, 'x': 0}]  2058017

                              eventName  teamId matchPeriod     eventSec  \
matchId
2057954 0                          Pass   16521          1H     1.656214
        788                        Pass   14358          2H     3.346688
        1                          Pass   16521          1H     4.487814
        2                          Duel   14358          1H     5.937411
        3                          Duel   16521          1H     6.406961
...                                 ...     ...         ...          ...
2058017 101754                     Pass    9598          2H  2978.301867
        101755       Others on the ball    9598          2H  2979.084611
        101756                     Pass    9598          2H  2983.448628
        101757  Goalkeeper leaving line    4418          2H  2985.869275
        101758                     Pass    4418          2H  3002.148765

               subEventId         id
matchId
2057954 0              85  258612104
        788            85  258613014
        1              83  258612106
        2              10  258612077
        3              10  258612112
...                   ...        ...
2058017 101754         85  263885652
        101755         72  263885653
        101756         80  263885654
        101757         40  263885613
        101758         84  263885618

[101759 rows x 12 columns]

## Creating New Features
Gonna try adding some new features to our new data frame.

In [7]:
results = df.groupby(['matchId', 'teamId'])['id'].count().reset_index(name='numEvents')
results.head()

   matchId  teamId  numEvents
0  2057954   14358        680
1  2057954   16521        909
2  2057955   15670        953
3  2057955   16129        786
4  2057956   14358        812

In [8]:
event_names = sorted(set(df['eventName']))
for e in event_names:
    col_name = 'num{}'.format(e.title().replace(' ', ''))
    counts_df = df[df['eventName'] == e]
    counts_df = counts_df.groupby(['matchId', 'teamId'])['id'].count().reset_index(name=col_name)
    results[col_name] = counts_df[col_name]

In [9]:
results.head()

,matchId,teamId,numEvents,numDuel,numFoul,numFreeKick,numGoalkeeperLeavingLine,numOffside,numOthersOnTheBall,numPass,numSaveAttempt,numShot
0,2057954,14358,680,221,22,50,1.0,3.0,62,311,7.0,11
1,2057954,16521,909,247,10,55,4.0,1.0,66,516,3.0,7
2,2057955,15670,953,219,6,38,1.0,1.0,95,579,4.0,11
3,2057955,16129,786,227,12,42,5.0,1.0,68,421,1.0,7
4,2057956,14358,812,259,10,57,4.0,1.0,87,385,5.0,12

In [10]:
set(df['eventName'])

{'Duel',
 'Foul',
 'Free Kick',
 'Goalkeeper leaving line',
 'Offside',
 'Others on the ball',
 'Pass',
 'Save attempt',
 'Shot'}

In [11]:
print(counts_df)

     matchId  teamId  numShot
0    2057954   14358       11
1    2057954   16521        7
2    2057955   15670       11
3    2057955   16129        7
4    2057956   14358       12
..       ...     ...      ...
123  2058015    9598       22
124  2058016    2413       14
125  2058016    5629       11
126  2058017    4418        7
127  2058017    9598       14

[128 rows x 3 columns]